*
!/.github/
!/.github/workflows/
!/.github/workflows/*.yaml
!/assets/
!/assets/*.*
!/src/
!/src/*.rs
!/src/data/
!/src/data/*.rs
!/src/db/
!/src/db/*.rs
!/src/logic/
!/src/logic/*.rs
!/src/utils/
!/src/utils/*.rs
!/src/ui/
!/src/ui/*.rs
!/src/ui/elements/
!/src/ui/elements/*.rs
!/src/ui/helpers/
!/src/ui/helpers/*.rs
!build.rs
!Cargo.toml
!LICENSE
!README.md
!.gitignore